div {
    .div-cadastro {
        max-width: 600px;
        max-height: 100vh;
        margin: auto;
        //background-color: rgb(255, 0, 0);
        //opacity: 80%;
        //border-radius: 15px;
        margin-top: 20px;
        padding: 20px;
        .img {
            background-color: white;
            img {
                border-radius: 15px;
                max-width: 150px;
            }
        }
        .form-cadastro {
            display: flex;
            align-items: center;
            flex-direction: column;
            h1 {
                font-size: 15;
                max-width: 500;
                color: #ffffff;
            }
            h2 {
                @extend h1;
            }
            h3 {
                @extend h1;
                width: 100%;
                color: #f0d400;
            }
            .MuiInput-root {
                color: #ffffff;
                background-color: #222222;
                margin-bottom: 5px;
                padding: 15px;
                width: 100%;
                border-radius: 5px;
            }
            .botao-cadastrar {
                position: center;
                margin-top: 15px;
                margin-bottom: 15px;
                padding: 10px;
                width: 200px;
                border: none;
                border-radius: 12px;
                background: linear-gradient(90deg, #e6f42d 0%, #e8d121 100%);
                cursor: pointer;
            }
            .botao-cadastrar:hover {
                @extend button;
                background: linear-gradient(90deg, #eb6931 0%, #e9452c 100%);
            }
        }
    }
}
