div {
    .div-header {
        justify-content: space-between;
        height: 80px;
        position: sticky !important;
        color: white;
        @media (max-width: 690px) {
            padding-left: 0;
        }
        height: "50px";
        .MuiAppBar-colorPrimary {
            background-color: white;
            color: black;
        }
        .MuiMenuItem-root {
            display: inline;
            padding: 8px;
            color: #333;
            text-decoration: none;
            padding: 10px;
            background-color: darkgray;
        }
        .item-categorias-drawer {
            a {
                display: inline;
                padding: 8px;
                color: #333;
                text-decoration: none;
                padding: 10px;
                background-color: darkgray;
            }
            a:hover {
                border-bottom: 5px solid #ffb700;
                background-color: gray;
            }
        }
        .container-header {
            display: flex;
            align-items: center;
            justify-content: space-between;

            background-color: white;
            .item-logo {
                display: inline-block;
                vertical-align: middle;
                img {
                    border-radius: 15px;
                    width: 100px;
                    padding-left: 0px;
                }
            }
            .item-categorias {
                a {
                    display: inline;
                    padding: 8px;
                    color: #333;
                    text-decoration: none;
                    padding: 10px;
                }
                a:hover {
                    border-bottom: 5px solid #ffb700;
                    background-color: #f5f5f5;
                }
            }
            .item-carrinho {
                justify-self: right;
                align-self: right;
                .itens-carrinho {
                    background-color: red;
                    color: white;
                    padding: 5px;
                }
                span {
                    color: #000000;
                    border-radius: 50%;
                    font-size: 10;
                }
                i {
                    font-weight: lighter;
                    font-size: 10px;
                }
            }
        }
    }
}
