div {
    .carrinho {
        border-width: 2px;
        margin: auto;
        width: 400px;
        padding: 15px 15px;
        .container-out {
            padding: 5px 10px;
            display: grid;
            grid-template-columns: 1fr 3fr 1fr;
            flex-wrap: wrap;
            opacity: 100%;
            background-color: white;
            .carrinho-header-meu-carrinho {
                font-weight: bolder;
                font-size: 24px;
            }
            .carrinho-header-finalizar {
                justify-self: left;
                align-items: center;
                cursor: pointer;
                color: green;
                font-size: 12px;
                :hover {
                    color: rgb(0, 123, 255);
                }
            }
            .carrinho-header-voltar {
                justify-self: right;
                align-items: center;
                cursor: pointer;
                color: green;
                font-size: 12px;
                :hover {
                    color: rgb(0, 123, 255);
                }
            }
        }
        .container-items {
            padding: 5px 10px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            flex-wrap: wrap;
            opacity: 100%;
            background-color: white;
            .carrinho-left-side {
                font-weight: bold;
                font-size: 24px;
                color: rgb(84, 84, 84);
                padding: 12px;
                img {
                    height: 180px;
                }
            }
            .carrinho-right-side {
                .trash-div {
                    width: 100%;
                    .trash {
                        background: linear-gradient(90deg, #f42d2d 0%, #e82121 100%);
                        cursor: pointer;
                        span {
                            color: rgb(0, 0, 0);
                            cursor: pointer;
                            font-size: 10px;
                        }
                    }
                    :hover {
                        background: linear-gradient(90deg, #f56262 0%, #ee4949 100%);
                    }
                }
                .carrinho-itens {
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr;
                    grid-template-rows: 1fr 1fr 1fr;
                    padding: 0px;
                    margin: 20px;
                    border-radius: 0px;
                    align-items: center;
                    .carrinho-qtd {
                        background-color: rgb(255, 255, 255);
                        width: 100%;
                        padding: 0px;
                        margin: 0px;
                        border-radius: 0px;
                    }
                    .carrinho-btn-decrementa {
                        background-color: orange;
                        width: 100%;
                        padding: 0px;
                        margin: 0px;
                        border-radius: 0px;
                    }
                    .carrinho-btn-decrementa:hover {
                        background-color: rgb(255, 111, 0);
                        cursor: pointer;
                    }
                    .carrinho-btn-incrementa {
                        background-color: orange;
                        width: 100%;
                        padding: 0px;
                        margin: 0px;
                        border-radius: 0px;
                    }
                    .carrinho-btn-incrementa:hover {
                        background-color: rgb(255, 111, 0);
                        cursor: pointer;
                    }
                }
            }
        }
        .pedido-finalizado {
            background-color: #fff;
            opacity: 50%;
            margin: 50px 10px;
            border-radius: 12px;
            justify-items: center;
            align-items: center;
            p {
                font-size: 30px;
                font-weight: bold;
                color: rgb(0, 0, 0);
            }
        }
    }
}
